header.bg-indigo-600.p-4
  div.container.mx-auto.flex.justify-between.items-center
    a(href="/") 
      h1.text-2xl.text-white.font-extrabold.text-center Bienes
        span.font-normal Rainces
    nav(class="my-5 text-sm md:flex md:items-center font-bold text-white md:gap-3 hidden")
      a(href="/mis-propiedades") Mis propiedades
      a(href="") Mi perfil
      
      form(action="/auth/cerrar-sesion", method="post") 
        input(type="hidden" name="_csrf" value=csrfToken)
        input(type="submit" class="bg-indigo-800 py-2 px-10 rounded-lg" value="Cerrar Sesión")